
<%- include('../partials/header'); %>

<h1 class="my-3">Dashboard</h1>
<h3 class="my-3">Hello, Sagar</h3>
<form action="/logout" method="POST">
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<%- include('../partials/footer'); %>
