<%- include('../partials/header'); %>

<h1 class="my-3">Register</h1>
<% if (typeof (errors) != 'undefined' && errors.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
    <% for(let i=0; i<errors.length; i++) {%>
      <div><%= errors[i]%></div>
    <% } %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<form action="/register" method="POST">
  <div class="mb-3">
    <label for="exampleInput1" class="form-label">First name</label>
    <input type="text" required="" class="form-control" id="exampleInput1" name="firstName">
  </div>
  <div class="mb-3">
    <label for="exampleInput2" class="form-label">Last name</label>
    <input type="text" required="" class="form-control" id="exampleInput2" name="lastName">
  </div>
  <div class="mb-3">
    <label for="exampleInput3" class="form-label">Email</label>
    <input type="email" required="" class="form-control" id="exampleInput3" name="email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" required="" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Confirm password</label>
    <input type="password" required="" class="form-control" id="exampleInputPassword2" name="confirmPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<a href="/" class="link-primary">I have an account</a>

<%- include('../partials/footer'); %>
